# Core Libraries untuk Data Processing & ML
pandas
scikit-learn

# Untuk Data Pipeline 
kafka-python
minio

# Untuk API Service 
fastapi
uvicorn[standard]

# Untuk Dashboard
streamlit
plotly
